[submodule "fakeIDV/src/main/java/edu/fake/ucar/FakeHydraGitSubModule"]
	path = fakeIDV/src/main/java/edu/fake/ucar/FakeHydraGitSubModule
	url = https://github.com/piqueen314/FakeHydraGitSubModule.git
